.input-container {
    display: flex;
    position: relative;
    box-shadow:  inset -2px -2px 5px rgba(0, 0, 0, .3);
    -webkit-box-shadow:  inset -2px -2px 5px rgba(0, 0, 0, .3);
    -moz-box-shadow:  inset -2px -2px 5px rgba(0, 0, 0, .3);
    border-radius: 15px;
  }
  
  .input-container input {
    flex: 1;
    outline: none;
    border: none;
    padding: 10px 31px 10px ;
    box-shadow:  inset -2px -2px 5px rgba(0, 0, 0, .3);
    -webkit-box-shadow:  inset -2px -2px 5px rgba(0, 0, 0, .3);
    -moz-box-shadow:  inset -2px -2px 5px rgba(0, 0, 0, .3);
    font-size: 14px;
    font-weight: 400;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border: none;
    background-color: #fff;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 15px;
    padding-left: 10px;
  -webkit-box-shadow:  inset -2px -2px 5px rgba(0, 0, 0, .3);
  -moz-box-shadow:  inset -2px -2px 5px rgba(0, 0, 0, .3);
  box-shadow:  inset -2px -2px 5px rgba(0, 0, 0, .3);
  }
  
  .autocomplete-items div {
    padding: 15px 0 15px 30px;
    background: url(../icon/location-outline.svg) left no-repeat;
    background-size: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
  }
  
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .autocomplete-items .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .clear-button {
    color: rgba(255, 0, 0,.5);
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    display: none;
    align-items: center;
  }
  .clear-button.visible {
    display: flex;
  }
  .clear-button:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  .autocomplete-container{
    min-width: 80%;
  }