
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {

	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	background: #393d50;
	display: block;
	border-radius: 100px;
	position: relative;
   left: 85%;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #abb4fa;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 40px;
}
